<template>
    <b-container id="app">
        <rooms/>
    </b-container>
</template>

<script>
    export default {
        name: "App",
        components: {
            Rooms: () => import("./Rooms.vue"),
        }
    }
</script>