<template>
    <b-card class="mt-3">
        <b-row>
            <b-col cols="12">
                <label>
                    <input type="checkbox" :checked="allChecked" @click="makeChecked"/>
                    {{allChecked ? 'Uncheck' : 'Check'}} All
                </label>
                <hr/>
            </b-col>
            <b-col v-for="(item, index) in consent" :key="index">
                <label>
                    <input type="checkbox" :value="item" v-model="selected"/>
                    {{ item.short_title }}
                </label>
            </b-col>
        </b-row>

        <b-row class="mt-3">
            <b-col cols="12">
                <b-list-group>
                    <b-list-group-item variant="success" v-for="(item, index) in selected" :key="index">
                        {{ item.title }}
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>

        <b-button variant="success" class="mt-3" @click="openTabs" v-if="selected.length">Sign in</b-button>

        <b-tabs card v-if="tabs" @activate-tab="getDetails">
            <b-tab v-for="key in tabIndexes" :key="'tab-' + key" :title="key">
                <b-list-group-item v-for="(item, index) in jsonData[key]" :key="index">
                    <input v-if="item.need_initials && !selectedConsents[key + '_' + index]" type="checkbox" v-model="selectedConsents[key + '_' + index]"/>
                    <span v-if="selectedConsents[key + '_' + index]">
                        <b>{{initials}}</b> |
                    </span>
                    {{item.content}}
                </b-list-group-item>
            </b-tab>
        </b-tabs>

    </b-card>
</template>

<script>
    import consentForms from 'root/src/api/consent-forms'
    import consentFormDetails from 'root/src/api/consent-form-details'

    export default {
        name: "Room",
        props: {
            initials: String
        },
        data: () => ({
            jsonData: {},
            consent: [],
            selected: [],
            selectedConsents: [],
            tabIndexes: [],
            tabs: false,
        }),
        watch: {
            selected () {
                this.tabIndexes = this.selected.map(consent => consent.code)
            }
        },
        methods: {
            makeChecked () {
                return this.allChecked ?
                    this.selected = [] :
                    this.selected = this.consent
            },
            showTab (value) {
                this.selected.map(consentType => consentType.code).forEach(consentType => {
                    consentFormDetails.get(`/consent-form-details/${consentType}.json`).then(response => {
                        this.$set(this.jsonData, consentType, response.data)
                    })
                })
            },
            getDetails (newTabIndex) {
                if (this.tabIndexes[newTabIndex]) {
                    this.showTab(this.tabIndexes[newTabIndex])
                }
            },
            openTabs () {
                this.tabs = !this.tabs
                this.showTab(this.selected[0])
            }
        },
        computed: {
            allChecked() {
                return this.selected.length === this.consent.length
            }
        },
        created () {
            consentForms.then(response => this.consent = response.data)
        }
    }
</script>