<template>
    <b-row>
        <b-col>
            <room-details v-if="details" :details="details" />
            <b-table striped hover :items="tableRooms" @row-clicked="showDetails" />
        </b-col>
    </b-row>
</template>

<script>
    import moment from 'moment'
    import roomsApi from 'root/src/api/rooms'

    export default {
        name: "Rooms",
        components: {
            roomDetails: () => import("./room/RoomDetails.vue")
        },
        data() {
            return {
                seconds: 0,
                details: null,
                roomsList: []
            }
        },
        created() {
            this.startTimer()
            roomsApi.then(response => this.roomsList = response.data)
        },
        methods: {
            startTimer() {
                setInterval(() => {
                    this.seconds++
                }, 1000)
            },
            showDetails (item, index) {
                item ? this.details = this.roomsList[index] : this.details = null
            }
        },
        computed: {
            tableRooms () {
                return this.roomsList.map(room => ({
                    roomNumber: `Room ${room.code} (${room.appointment.code})`,
                    fullName: `${room.appointment.first_name}, ${room.appointment.last_name}`,
                    roomStatus: room.status.title,
                    appointmentTime: moment(room.appointment.start_time, 'hh:mm').format('hh:mm A'),
                    waitingTime: moment(room.update_time).subtract({seconds: this.seconds}).format('HH:mm:ss'),
                    doctorName: 'D: ' + room.appointment.doctor_title,
                    assistant: 'A: ' + room.appointment.assistant
                }))
            }
        },

    }
</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }
</style>