<template>
    <b-modal v-model="modalShow" @close.prevent="close" @hide.prevent="close" size="lg">
        <b-card :title="`Room #${details.code}`" :sub-title="details.appointment.start_date">
            <b-card-text>
                <div>{{details.appointment.vital_signs | vitalInfoView}}</div>
                <div>{{details.appointment | fullInfoView}}</div>
            </b-card-text>
        </b-card>

        <room :initials="initials"/>
    </b-modal>
</template>

<script>
    import moment from 'moment'

    export default {
        name: "RoomDetails",
        props: {
            details: Object
        },
        components: {
            room: () => import("../Room.vue")
        },
        filters: {
            dateFormat: date => moment(date, 'dd/mm/yyyy'),
            vitalInfoView: obj => `HT: ${obj.height_ft}, WT: ${obj.height_in}, BMI: ${obj.bmi}`,
            fullInfoView: appointment => {
                const doctorAppeal = `${appointment.is_doctor ? 'Dr. ' : (appointment.gender === 'Male' ? 'Mr.' : 'Ms. ')}`
                const age = appointment.birthday
                    ?  moment().diff(appointment.birthday, 'years', false)
                    : "-"
                const gender = appointment.gender === 'Male' ? 'M' : 'W'

                return `ex ${doctorAppeal} ${appointment.first_name} ${appointment.last_name} ${age} ${gender}`
            },
        },
        data: () => ({
            modalShow: true
        }),
        computed: {
            initials () {
                const appointment = this.details.appointment
                return `${appointment.first_name.charAt(0)}${appointment.last_name.charAt(0)}`
            }
        },
        methods: {
            close () {
                this.$parent.details = null
            }
        }
    }
</script>